/* tag selectors */


h1{
  margin-block-start: 0;
  margin-block-end: 0;
}

body{
  margin:0;
}

/* class selectors */

.top-container, .middle-container, .bottom-container{

  height: 200px;
  width: 200px;

}

.top-container{
  background-color: #9ED2C6;
}

.middle-container{
  background-color: blue;

}

.bottom-container{
  background-color: red;
}
